


<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Library Management System</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <p mat-menu-item class="center">Gaurav Singh</p>
      <p mat-menu-item class="center">gaurav.singh323@gmail.com</p>
      <button mat-menu-item class="center">Sign Out</button>
    </mat-menu>
</mat-toolbar>