<div>
    <h2>Number of Added Books Each Day</h2>
    <div>
        <ngx-charts-line-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [roundDomains]=true
            [yAxisLabel]="yAxisLabel">
        </ngx-charts-line-chart>
    </div>
</div>

