<div class="dashboard">
    <div class="dashboard-heading">
        <h1>{{genre}} Books</h1>
        <div class="dashboardLink">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" class="homeIcon"></mat-icon>
            <a routerLink="">Home</a>/<a routerLink="/genres">Genre</a>/<a>{{genre}}</a>
        </div>
    </div>
    <div class="booklist">
        <div class="bookBox" *ngFor="let book of booklist">
            <button mat-icon-button matTooltip="Add to Favourite." (click)="addToFavourite(book.bookId)" class="favourite">
                <mat-icon >bookmark_add</mat-icon>
            </button>
            <div class="booktitle">
                {{book.bookName}}
            </div>
            <div class="bookAuthor">
                ~ {{book.bookAuthor}} 
            </div>
            <div class="desc">
                <span>
                    {{book.desc}}
                </span>
            </div>
            <div class="bookPoster">
                <img src="./../../../assets/images/poster.png" alt="poster"/>
            </div>
            <img src="https://cdn-icons-png.flaticon.com/512/2698/2698378.png" alt="price-tag" class="priceTag">
            <span class="price">₹ {{book.price}}</span>
            <button class="archive" matTooltip="Move this book to Archive." (click)="moveToArchive(book.bookId)">
                <mat-icon >archive</mat-icon>
            </button>

        </div>
        
    </div>
    
</div>
