<div id="dashboard">
    <div id="dashboard-heading">
        <h1>Genres</h1>
        <div id="dashboardLink">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" id="homeIcon"></mat-icon>
            <a routerLink="">Home</a>/<a routerLink="/genres">Genres</a>
        </div>
    </div>
    <div class="genreContainer">
        <a routerLink="{{genre}}/booklist" class="genreBox" *ngFor="let genre of genres">
            <div class="genreImage"><img src="https://cdn-icons-png.flaticon.com/512/8317/8317139.png" alt="bookFolder" /></div>
            <div class="genreVal">{{genre}}</div>
        </a>
    </div>

</div>
