@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.dashboard{
    margin: 20px;
}
#dashboard-heading{
    display: flex;
    justify-content: space-between;
    margin: 20px 25px;
    font-family: 'Raleway', sans-serif;
}

#dashboardLink {
    position: relative;
}
#dashboardLink a{
    text-decoration: none;
    color: #3f51b5;
    font-size: larger;
}
#homeIcon{
    position: absolute;
    color: #3f51b5;
    left: -25px;
    top: -3px;
}

.genreContainer{
    display: flex;
    justify-content: flex-start;
}
.genreBox{
    text-decoration: none;
    color: black;
    /* transition: ease 0.3s; */
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: larger;

}
.genreBox:hover{
    color: #4669b5;
    transform: scale(1.01);
    font-weight: 500;
    background: lightgray;
}
.genreBox:active{
    background: darkgrey;
}

.genreImage img{
    width: 150px;
}
.genreVal{
    text-align: center;
}