<div id="dashboard">
    <div id="dashboard-heading">
        <h1>Genres</h1>
        <div id="dashboardLink">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" id="homeIcon"></mat-icon>
            <a routerLink="dashboard">Home</a>/<a routerLink="">Genres</a>
        </div>
    </div>
    <div class="genreContainer">
        <a routerLink="Selp-help/booklist" class="genreBox">
            <div class="genreImage"><img src="https://cdn-icons-png.flaticon.com/512/8317/8317139.png" alt="bookFolder" /></div>
            <div class="genreVal">Selp-help</div>
        </a>
        <a routerLink="Buisness/booklist" class="genreBox">
            <div class="genreImage"><img src="https://cdn-icons-png.flaticon.com/512/8317/8317139.png" alt="bookFolder" /></div>
            <div class="genreVal">Buisness</div>
        </a>
        <a routerLink="Personal-finance/booklist" class="genreBox">
            <div class="genreImage"><img src="https://cdn-icons-png.flaticon.com/512/8317/8317139.png" alt="bookFolder" /></div>
            <div class="genreVal">Personal-finance</div>
        </a>
    </div>

</div>
